{% extends "generale.html.twig" %}

{% block page_title %}Récupérer mon compte{% endblock %}

{% block page_content %}
    <div>
        <form method="post" action="{{ route("resetMDP", {"login" : login})}}">
            <fieldset>
                <h3>Réinitialiser mot de passe</h3>
                <p>
                    <label for="mdp_id">Nouveau mot de passe&#42;</label>
                    <label for="mdp_id"><b>6 à 50 caractères, au moins une minusle, une majuscule et un caractère
                            spécial</b></label>
                    <input type="password" value="" placeholder="" minlength="6" maxlength="50"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*_=+\-]).{6,50}" name="mdp" id="mdp_id"
                           required>
                </p>
                <p>
                    <label for="mdp2_id">Vérification du nouveau mot de passe&#42;</label>
                    <input type="password" value="" placeholder="" minlength="6" maxlength="50"
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*_=+\-]).{6,50}" name="mdp2" id="mdp2_id"
                           required>
                </p>
                <p>
                    <input type="hidden" name="login" value="{{ login }}">
                    <input type="submit" value="Mettre à jour"/>
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}
