{% extends "generale.html.twig" %}

{% block page_title %}Accueil{% endblock %}

{% block page_content %}
    <div><p>Bienvenue sur <b>Trello-Trollé</b>!</p></div>
    <div>
        {% if estConnecte %}
            <span><a href="{{ route("afficherListeMesTableaux") }}">Consulter mes tableaux</a></span>
        {% else %}
            <p>
                Pour créer des tableaux, commencez par vous
                <a href="{{ route("afficherFormulaireConnexion") }}">connecter</a>
                ou par <a href="{{ route("afficherFormulaireCreation") }}">créer un
                    compte</a>!
            </p>
        {% endif %}
    </div>
{% endblock %}